<div class="row">

    <div class="col-md-3 mb-4"
         th:each="m : ${movies}">

        <div class="card shadow h-100">

            <img th:src="${m.poster}"
                 class="card-img-top"
                 style="height: 350px; object-fit: cover"/>

            <div class="card-body">

                <h5 th:text="${m.movieName}"></h5>

                <p>
                    Giá:
                    <span th:text="${m.price}"></span>
                </p>

                <p>
                    Thời lượng:
                    <span th:text="${m.duration}"></span>
                    phút
                </p>

                <p>
                    Định dạng:
                    <span th:text="${m.movieFormat}"></span>
                </p>

                <a class="btn btn-primary"
                   th:href="@{'/movies/' + ${m.id}}">
                    Chi tiết
                </a>

                <div sec:authorize="hasAnyRole('ADMIN','STAFF')">

                    <a class="btn btn-warning mt-2"
                       th:href="@{'/admin/movies/' + ${m.id}}">
                        Cập nhật
                    </a>

                    <a class="btn btn-danger mt-2"
                       th:href="@{'/admin/deleteMovie/' + ${m.id}}">
                        Xóa
                    </a>

                </div>

            </div>
        </div>
    </div>
</div>