<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Danh sách phim</title>

    <th:block th:replace="base :: css"></th:block>
</head>

<body>

    <div th:replace="base :: header"></div>

    <section class="container mt-4">

        <div class="d-flex justify-content-between mb-3">

            <h2>Danh sách phim</h2>

            <div th:if="${isAdmin or isStaff}">
                <a th:href="@{/admin/movies}"
                   class="btn btn-success">

                    Thêm phim
                </a>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3 mb-4"
                 th:each="m : ${movies}">

                <div class="card shadow h-100">

                    <img th:src="${m.poster}"
                         class="card-img-top"
                         style="height:350px; object-fit:cover;"/>

                    <div class="card-body">

                        <h5 th:text="${m.movieName}"></h5>

                        <p>
                            Giá:
                            <span th:text="${m.price}"></span>
                        </p>

                        <a class="btn btn-primary btn-sm"
                           th:href="@{'/movies/' + ${m.id}}">
                            Chi tiết
                        </a>
                        <div th:if="${isAdmin or isStaff}">
                            <a class="btn btn-warning btn-sm"
                               th:href="@{'/admin/movies/' + ${m.id}}">
                                Sửa
                            </a>

                            <a class="btn btn-danger btn-sm"
                               th:href="@{'/admin/movies/delete/' + ${m.id}}">
                                Xóa
                            </a>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section>

    <nav class="mt-4">

        <ul class="pagination">

            <li class="page-item"
                th:each="i : ${#numbers.sequence(1,10)}">

                <a class="page-link"
                   th:href="@{/movies(page=${i})}"
                   th:text="${i}">
                </a>

            </li>

        </ul>

    </nav>

    <div th:replace="base :: footer"></div>
</body>
</html>