<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Chi tiết suất chiếu</title>
    <th:block th:replace="base :: css"></th:block>
</head>

<body>

<div th:replace="base :: header"></div>

<section class="container mt-4">

    <div class="card p-4">

        <h2>
            [[${showtime.movieId.movieName}]]
        </h2>

        <hr>

        <p>
            <b>Phòng:</b>
            [[${showtime.roomId.name}]]
        </p>

        <p>
            <b>Bắt đầu:</b>
            [[${#dates.format(showtime.startTime,
            'dd/MM/yyyy HH:mm')}]]
        </p>

        <p>
            <b>Kết thúc:</b>
            [[${#dates.format(showtime.endTime,
            'dd/MM/yyyy HH:mm')}]]
        </p>

        <hr>

        <h4>Thống kê</h4>

        <p>
            Vé đã bán:
            <b>
                [[${statistic.soldTickets}]]
            </b>
        </p>

        <p>
            Doanh thu:
            <b>
                [[${#numbers.formatDecimal(
                statistic.revenue,
                0,
                'COMMA',
                0,
                'POINT')}]]
                VNĐ
            </b>
        </p>

    </div>

</section>

</body>
</html>